.tribune-wrapper .tribune-post .tribune-message:hover {
  overflow: visible;
}

a.tribune-totoz img {
  margin-left: 2px;
  display: none;
  position: absolute;
}

a.tribune-totoz:hover img {
  display: inline;
  z-index: 10;
}
