.tribune-block {
  font-size: 70%;
}

.tribune-block input.form-text {
  width: 100%;
}

.tribune-block .tribune-wrapper .tribune-post > span {
  display: inline;
  padding: 0;
}

.tribune-block .tribune-wrapper .tribune-post .tribune-date {
  margin-left: -60px;
}

.tribune-block .tribune-wrapper .tribune-post .tribune-clock {
  padding: 0;
  border: 0;

  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}

.tribune-block .tribune-wrapper .tribune-answer .tribune-clock {
  background-color: #DDD;
}

.tribune-block .tribune-wrapper .tribune-own-post .tribune-clock {
  background-color: #CCC;
}
